.start{
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.start button{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}